<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ShoppingApp/
RewriteRule ^main_page\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ShoppingApp/main_page.php [L]
</IfModule>
